/* -----------------------------------------------------
        common area
----------------------------------------------------- */

body {
    margin: 0px;
    font-size: 15px;
    color: #2B2B2B;
    line-height: 1.7;
    letter-spacing: 1.1px;
}

/* -----------------------------------------------------
        header area
----------------------------------------------------- */

header {
    height: 350px;
    background-image: url(../img/header.png);
    background-size: cover;
    color: white;
}

nav > p {
    padding: 18px 0 0 10px;
    font-size: 20px;
    margin: 0;
}

nav > a {
    text-decoration: none;
    color: white;
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 20px;
}

.center-logo {
    height: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}

.center-logo h1 {
    font-size: 60px;
    font-weight: normal;
    margin: 0;
}

.center-logo p {
    font-size: 14px;
    margin: 0;
}

/* -----------------------------------------------------
        main area
----------------------------------------------------- */
/* -----------------------------------------------------
        concept area
----------------------------------------------------- */

.title {
    text-align: center;
    padding-bottom: 15px;
    margin: 0 18px;
}

.title > p:nth-child(3) {
    text-align: left;
    padding: 30px 0 20px;
}

.title h1 {
    margin: 0;
    font-size: 28px;
    padding-top: 45px;
}

.title p {
    margin: 0;
}

.band1 {
    height: 265px;
    /* background: skyblue; */
}

.band2 {
    height: 180px;
    background: #EDEDED;
}

.bands {
    position: relative;
}

.concept img {
    height: 400px;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 18px;
}

/* -----------------------------------------------------
        work area
----------------------------------------------------- */

.work-menu {
    display: flex;
    overflow-x: scroll;
    margin: 0 18px;
}

.work-menu ul {
    list-style: none;
    padding-left: 30px;
}

.work-menu section:first-child ul {
    padding-left: 0;
}

.work-menu img {
    height: 200px;
    width: 500px;
    object-fit: cover;
}

.work-menu .gift img {
    object-position: 0% 65%;
}

.work-menu .wedding img {
    object-position: 0% 60%;
}

.work-menu .deco img {
    object-position: 0% 65%;
}

.work-menu h1 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.work-menu p {
    margin: 0;
}

/* -----------------------------------------------------
        florist area
----------------------------------------------------- */

.florist-parent {
    background: #EDEDED;
}

.member {
    display: flex;
    overflow-x: scroll;
    margin: 0 18px;
}

.member ul {
    list-style: none;
    padding-left: 30px;
}

.member section:first-child ul {
    padding-left: 0;
}

.member img {
    height: 300px;
    width: 500px;
    object-fit: cover;
}

.member h1 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.member p {
    margin: 0;
}

/* -----------------------------------------------------
        shop-info area
----------------------------------------------------- */

.shop-info {
    margin: 0 18px;
}

.des {
    margin: 10px 10px 50px;
}

table td:nth-child(1) {
    border-right: solid 1.5px gray;
}

.shop-info img {
    width: 100%;
    height: 100%;
}

/* -----------------------------------------------------
        call-to-action area
----------------------------------------------------- */

.call-to-action {
    background-image: url(../img/contact_us.png) ;
    height: 350px;
    margin: 0;
    padding: 0;
}

.call-to-action .text {
    /* margin-top: 15px; */
    text-align: left;
    padding:15px 18px 60px;
}

.bg {
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
}


.bg a {
    text-decoration: none;
    font-size: 22px;
    border: 1px solid black;
    background: white;
    padding: 24px 32px;
    color: black;
}


footer {
 background: white;
 text-align: center;
 font-size: 12px;    
}

/* -----------------------------------------------------
        for pc monitor
----------------------------------------------------- */
/* -----------------------------------------------------
        header area
----------------------------------------------------- */

@media (min-width: 670px) {
header {
    height: 620px;
}

.center-logo {
    padding-top: 160px;
}
.center-logo h1 {
    font-size: 90px;
    font-weight: bold;
}


.concept img {
    position: absolute;
    top: 0;
    left: 0;
}

.work-menu {
    margin: 0;
    padding-bottom: 120px;
    width: 100%;
    
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: 700px 700px;
    grid-auto-flow: column;
    row-gap: 100px;
    justify-content: space-evenly;
}

.deco, .for-yourself {
    margin-top: 100px;
}

.work-menu img {
    height: initial;
    width: 400px;
    object-fit: cover;
}

.work-menu ul {
    padding: 0;
}

.title > p:nth-child(3) {
    text-align: center;
    width: 500px;
    margin: 0 auto;
}

.member {
    display: flex;
    overflow-x: initial;
    margin: 0 auto;
    justify-content: space-around;
    width: 1000px;
}

.member img {
    /* height: 300px;
    width: 500px; */
    max-width: 300px;
    max-height: 180px;
    object-fit: cover;
}

.shop-info .container {
    width: 1000px;
    display: flex;
    justify-content: center;
    
}

.shop-info img {
    max-width: 500px;
}

.call-to-action {

}

.call-to-action .text {
    text-align: center;
}


.call-to-action {
    background-image: url(../img/contact_us.png) ;
    height: 450px;
    margin: 0;
    padding: 0;
}

}